<div class="references-container">
  <h1>References:</h1>
  <ol>
    <li>
      <a href="https://seekicon.com/free-icon/globe_5" rel="noopener" target="_blank">
        seekicon. (n.d.). <i>Globe icon svg png free download -  5</i>. Seekicon.
      </a>
    </li>
    <li>
      <a href="https://wallpaperaccess.com/sad-dogs#5616712" rel="noopener" target="_blank">
        WallpaperAccess. (n.d.). <i>Sad Dogs Wallpapers</i>. WallpaperAccess.
      </a>
    </li>
    <li>
      <a href="https://datahelpdesk.worldbank.org/knowledgebase/topics/125589-developer-information" rel="noopener" target="_blank">
        The World Bank. (n.d.). <i>Developer Information</i>. World Bank.
      </a>
    </li>
  </ol>
</div>
