:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

svg {
  width: 100%;
  height: 100%;
}

path {
  fill: var(--land-color);
  stroke: var(--border-color);
  cursor: pointer;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: cell;
}
