:host {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;

  width: 100%;
  height: 100%;
  font-size: 15px;

  background-color: var(--nav-color);
  border-bottom: 1px solid black;
  color: var(--highlight-color);

  -webkit-user-select: none;
  user-select: none;
}

.nav-item {
  max-height: 100%;
  width: 25%;
}

.nav-item li {
  list-style: none;
  padding: 0 5px;
}

.nav-item li:nth-of-type(2) {
  font-size: 10px;
}

#toggle-theme {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: inherit;
  cursor: pointer;
}

#toggle-theme:hover {
  color: var(--border-highlight-color);
}
