/* You can add global styles to this file, and also import other style files */
:root {
  --nav-height: 10vh;

  --bright-nav-color: #28f;
  --world-ocean-color: #006;
  --world-land-color: #060;
  --world-border-color: #252;
  --world-border-highlight-color: #252;
  --world-highlight-color: #272;

  --dark-nav-color: #322;
  --dark-ocean-color: #000;
  --dark-land-color: #900;
  --dark-border-color: #700;
  --dark-border-highlight-color: white;
  --dark-highlight-color: #b00;
}

* {
  font-family:'Courier New', Courier, monospace;
  top: 0;
}

body {
  background-color: var(--dark-ocean-color);
  margin: 0;
  min-height: 100vh;
}
