:root {
  --nav-height: 60px;

  --nav-color: #322;
  --ocean-color: #000;
  --land-color: #931;
  --border-color: #711;
  --border-highlight-color: white;
  --highlight-color: #b42;
}

.theme-dark {
  --nav-color: #322;
  --ocean-color: #000;
  --land-color: #931;
  --border-color: #711;
  --border-highlight-color: white;
  --highlight-color: #b42;
}

.theme-light {
  --nav-color: #226;
  --ocean-color: #006;
  --land-color: #362;
  --border-color: #352;
  --border-highlight-color: white;
  --highlight-color: #372;
}

* {
  font-family:'Courier New', Courier, monospace;
  top: 0;
  margin: 0;
}

body {
  background-color: var(--ocean-color);
  min-height: 100vh;
}
